<h3>Média e conceito finais (pré-recuperação)</h3>

<pre>
    RA: {{ data['RA'] }}
  NOME: {{ data['NOME'] }}
  
    P1: {{ data['P1'] }}
    P2: {{ data['P2'] }}
 TIDIA: {{ data['TIDIA'] }}
FALTAS: {{ data['FALTAS'] }}
    
</pre>
<pre style="color: red; font-size: x-large;">
  NOTA FINAL: {{ data['MÉDIA'] }}
    CONCEITO: {{ data['CONCEITO'] }}
</pre>

<h3>Em breve alguns gráficos</h3>

<!--
<img src="{{ url_for('static', filename='histogramaQ1.png') }}" />

<img src="{{ url_for('static', filename='histogramaQ2.png') }}" />

<img src="{{ url_for('static', filename='histogramaQ3.png') }}" />

<img src="{{ url_for('static', filename='histogramaQ4.png') }}" />

<img src="{{ url_for('static', filename='histogramaP1.png') }}" />
-->



<!-- 
<p>A nota que você vê é uma nota normalizada. A formula de normalização 
envolve o número de acertos e o número de respostas em branco.</p>

<p>A nota normalizada nunca fica pior do que a nota que você receberia se 
as regras colocadas na prova fossem seguidas à risca.</p>

<img src="https://syntatic.com/histograma.png" />

<img src="https://syntatic.com/questoes.png" /> -->
